@charset "utf-8";

/* main_content */
#main_content {
    width: 100%;
    height: 800px;
    color: #fff;
    background-image: url("../images/main_image_04.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 20%;

}
#main_content #main_txt {
    width: 1280px;
    margin: 0 auto;
    font-size: 10em;
    padding: 200px 100px;
}
#main_content #main_txt span {
    display: block;
}

/* about */
#about {
    width: 100%;
    height: 1880px;
}
/* section01 about_txt */
#about #about_txt {
    height: 800px;
}
.txt_box {
    color: #fff;
    text-align: center;
    padding: 200px 0;
}
#about #about_txt span.txt {
    display: block;
}
#about #about_txt span:nth-child(1) {
    font-size: 2em;
}
#about #about_txt span:nth-child(2) {
    font-size: 2.5em;
}
span.txt_normal {
    font-size: 1.2em;
    font-weight: 100;
    padding: 30px 350px;
    display: block;
}
#about #about_txt span:nth-child(4) {
    font-weight: 400;
}
/* about_video */
#about #about_video { 
    width: 100%;
    height: 800px;
    z-index: 0; 
}

/* section02 collection */
#collection {
    width: 100%;
    height: 1800px;
}
#collection #collection_txt span {
    display: block;
}
/* model_list */
#collection #model_list ul {
    overflow: hidden;
}
#collection #model_list ul li {
    float: left;
    width: 25%;
}
#collection #model_list ul li a img {
    width: 100%;
}
/* more_btn */
#collection #more_btn {
    text-align: center;
}
#collection #more_btn button {
    width: 230px;
    height: 40px;
    border: 2px solid #fff;
    margin: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    background-color: #000;
}
#collection #more_btn button:hover {
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}

/* section03 stage */
#stage {
    width: 100%;
    height: 4100px;
}
#stage_bg_01 {
    height: 1400px;
    background-image: url("../images/stage01.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
#stage_bg_02 {
    height: 1000px;
    background-image: url("../images/stage02.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

/* slick slide button */
.slider {
    width: 40rem;
}
.slick-dots {
    position: absolute;
    bottom: 1%;
    left: 48%;
    display: flex;
    justify-content: center;    
    margin: 0;
    padding: 1rem 0;    
    list-style-type: none;
}
.slick-dots li {
    margin: 0 0.25rem;
}   
.slick-dots button {
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    padding: 0;         
    border: none;
    border-radius: 100%;
    background-color: rgba(255,255,255, 0.5);           
    text-indent: -9999px;
    cursor: pointer;
}
.slick-dots li.slick-active button {
    background-color: white;
}   
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    color: #fff;;
    border: none;
    background: none;
    z-index: 1;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 30px;
}
.slick-prev {
    left: 20px;
}
.slick-next {
    right: 20px;
}
.slick-prev:hover,
.slick-next:hover {
    color: #000;
    background-color: rgba(255,255,255,0.5);
}

/* 반응형 */
@media screen and (max-width: 280px){
    #main_content {
        background-size: 300%;
        background-position: -480px 0px;
    }
    /* main_content */
    #main_content {
        height: 600px;
    }
    #main_content #main_txt {
        font-size: 3.2em;
        padding: 200px 10px;
    }
    /* about */
    #about {
        height: 950px;
    }
    /* section01 about_txt */
    #about #about_txt {
        height: 800px;
    }
    #about #about_txt span:nth-child(1) {
        font-size: 1.8em;
    }
    #about #about_txt span:nth-child(2) {
        font-size: 1.8em;
    }
    .txt_box {
        padding: 100px 0;
    }
    span.txt_normal {
        padding: 30px 50px;
    }

    /* section02 collection */
    #collection {
        height: 3500px;
    }
    #collection #model_list ul li {
        width: 100%;
    }

    /* section03 stage */
    #stage {
        height: 1950px;
    }
    #stage_bg_01 {
        height: 300px;
    }
    #stage_slide .slick li img {
        height: 400px;
    }
    #stage_bg_02 {
        height: 300px;
    }

    /* slick slide button */
    .slick-dots {
        left: 10%;
    }
}
@media screen and (min-width: 281px) and (max-width: 360px) {
    #main_content {
        background-size: 300%;
        background-position: -480px 0px;
    }
    /* main_content */
    #main_content {
        height: 600px;
    }
    #main_content #main_txt {
        font-size: 3.5em;
        padding: 250px 10px;
    }
    /* about */
    #about {
        height: 900px;
    }
    /* section01 about_txt */
    #about #about_txt {
        height: 700px;
    }
    #about #about_txt span:nth-child(1) {
        font-size: 1.8em;
    }
    #about #about_txt span:nth-child(2) {
        font-size: 1.8em;
    }
    .txt_box {
        padding: 100px 0;
    }
    span.txt_normal {
        padding: 30px 50px;
    }

    /* section02 collection */
    #collection {
        height: 4200px;
    }
    #collection #model_list ul li {
        width: 100%;
    }

    /* section03 stage */
    #stage {
        height: 1820px;
    }
    #stage_bg_01 {
        height: 300px;
    }
    #stage_slide .slick li img {
        height: 500px;
    }
    #stage_bg_02 {
        height: 300px;
    }

    /* slick slide button */
    .slick-dots {
        left: 18%;
    }
}
@media screen and (min-width: 361px) and (max-width: 480px) {
    /* main_content */
    #main_content {
        background-size: 300%;
        background-position: -480px 0px;
    }
    #main_content {
        height: 600px;
    }
    #main_content #main_txt {
        font-size: 4em;
        padding: 250px 20px;
    }
    /* about */
    #about {
        height: 900px;
    }
    /* section01 about_txt */
    #about #about_txt {
        height: 700px;
    }
    #about #about_txt span:nth-child(1) {
        font-size: 1.8em;
    }
    #about #about_txt span:nth-child(2) {
        font-size: 1.8em;
    }
    .txt_box {
        padding: 100px 0;
    }
    span.txt_normal {
        padding: 30px 50px;
    }   

    /* section02 collection */
    #collection {
        height: 4600px;
    }
    #collection #model_list ul li {
        width: 100%;
    }

    /* section03 stage */
    #stage {
        height: 1820px;
    }
    #stage_bg_01 {
        height: 300px;
    }
    #stage_slide .slick li img {
        height: 500px;
    }
    #stage_bg_02 {
        height: 300px;
    }

    /* slick slide button */
    .slick-dots {
        left: 18%;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    /* main_content */
    #main_content {
        background-size: 200%;
        background-position: -450px 0px;
    }
    #main_content #main_txt {
        font-size: 6.5em;
        padding: 300px 30px;
    }
    /* about */
    #about {
        height: 1100px;
    }
    /* section01 about_txt */
    #about #about_txt {
        height: 600px;
    }
    .txt_box {
        padding: 100px 0;
    }
    span.txt_normal {
        padding: 30px 50px;
    }
    /* about_video */
    #about #about_video { 
        height: 600px;
    }

    /* section02 collection */
    #collection {
        height: 2300px;
    }
    #collection #model_list ul li {
        width: 50%;
    }

    /* section03 stage */
    #stage {
        height: 2300px;
    }
    #stage_bg_01 {
        height: 500px;
    }
    #stage_bg_02 {
        height: 600px;
    }

    /* slick slide button */
    .slick-dots {
        left: 42%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /* main_content */
    #main_content {
        background-size: 130%;
        background-position: 0px 0px;
    }
    #main_content #main_txt {
        font-size: 7em;
        padding: 200px 50px;
    }
    /* about */
    #about {
        height: 1200px;
    }
    /* section01 about_txt */
    #about #about_txt {
        height: 600px;
    }
    .txt_box {
        padding: 100px 0;
    }
    span.txt_normal {
        padding: 30px 50px;
    }
    /* about_video */
    #about #about_video { 
        height: 600px;
    }

    /* section02 collection */
    #collection {
        height: 2900px;
    }
    #collection #model_list ul li {
        width: 50%;
    }

    /* section03 stage */
    #stage {
        height: 2600px;
    }
    #stage_bg_01 {
        height: 700px;
    }
    #stage_bg_02 {
        height: 700px;
    }

    /* slick slide button */
    .slick-dots {
        left: 46.5%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
    /* main_content */
    #main_content #main_txt {
        font-size: 7em;
        padding: 200px 100px;
    }
    /* about */
    #about {
        height: 1200px;
    }
    /* section01 about_txt */
    #about #about_txt {
        height: 500px;
    }
    .txt_box {
        padding: 100px 0;
    }
    span.txt_normal {
        padding: 30px 50px;
    }

    /* section02 collection */
    #collection {
        height: 2000px;
    }
    #collection #model_list ul li {
        width: 33.3%;
    }

    /* section03 stage */
    #stage {
        height: 2800px;
    }
    #stage_bg_01 {
        height: 800px;
    }
    #stage_bg_02 {
        height: 800px;
    }

    /* slick slide button */
    .slick-dots {
        left: 47.3%;
    }
}
@media screen and (min-width: 1281px) {

}