@charset "utf-8";

/* all_collection page */
/* portfolio_section */
.portfolio_section {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.portfolio_section h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    margin: 100px 0;
}
/* btn_set */
.portfolio_section .btn_set {
    width: 320px;
    margin: 70px auto;
    overflow: hidden;
}
.portfolio_section .btn_set li {
    display: inline-block;
}
.portfolio_section .btn_set li a {
    display: block;
    padding: 10px 30px;
    margin: 10px 1px;
    background-color: rgba(90,90,90,0.5);
    color: #ccc;
    border: 2px solid #fff;
}
.portfolio_section .btn_set li a:hover {
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}

/* portfolio_item_wrap */
.portfolio_item_wrap {
    margin: 0 auto;
    padding-bottom: 100px;
}
.portfolio_item_wrap .woman {
    height: 5400px;
}
.portfolio_item_wrap .man {
    height: 4700px;
}
.portfolio_item_wrap .portfolio_item a img {
    width: 24.5%;
}

/* login page */
/* login_section */
#login_section {
    width: 100%;
    height: 650px;
    padding: 100px 0;
}
#login_section #login_wrap {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}
#login_section #login_wrap img {
    margin: 50px 0 ;
}
#login_section #user_id, #user_pw, #login_btn, #logout_btn {
    width: 300px;
    height: 40px;
    border: none;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
    padding: 10px;
    border-radius: 2px;
}
#login_section #user_id:focus, #user_pw:focus {
    color: #000;
}
#login_section #login_btn, #logout_btn {
    border: 2px solid #fff;
    margin: 20px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}
#login_section #login_btn:hover, #logout_btn:hover {
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}
/* logout_wrap */
#login_section #logout_wrap {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
    display: none;
    color: #fff;
}
#login_section #logout_wrap h1 {
    font-size: 1.5em;
    margin: 50px;
}

/* contact page */
#contact_section {
    width: 100%;
    height: 900px;
    padding: 100px 0;
}
#contact_section #contact_wrap {
    width: 500px;
    margin: 0 auto;
}
#contact_section #contact_wrap h1 {
    color: #fff;
    font-size: 3em;
    margin: 30px 0;
    text-align: center;
}
#contact_wrap p label {
    display: block;
    margin-left: 15px;
    color: #ccc;
}
#contact_wrap .txt_box, textarea, .mail_btn {
    width: 100%;
    height: 40px;
    border: none;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #666;
    padding: 10px;
    border-radius: 2px;
}
#contact_wrap textarea {
    height: 200px;
}
#contact_wrap .mail_btn {
    border: 2px solid #fff;
    margin: 10px;
    color: #fff;
    background-color: #000;
}
#contact_wrap .mail_btn:hover {
    color: #000;
    background-color: #fff;
    transition: 0.5s;
}

/* 반응형 */
@media screen and (max-width: 280px) {
    /* all_collection page */
    /* portfolio_section */
    .portfolio_section .btn_set {
        width: 245px;
    }
    .portfolio_section .btn_set li a {
        padding: 5px 18px;
    }
    .portfolio_item_wrap .woman {
        height: 12000px;
    }
    .portfolio_item_wrap .man {
        height: 10100px;
    }
    .portfolio_item_wrap .portfolio_item a img {
        width: 100%;
    }

    /* login page */
    /* login_section */
    #login_section #login_wrap {
        width: 100%;
    }
    #login_section #user_id, #user_pw, #login_btn, #logout_btn {
        width: 240px;
    }

    /* contact page */
    #contact_section #contact_wrap {
        width: 240px;
        margin: 10px;
    }
}
@media screen and (min-width: 281px) and (max-width: 360px) {
    /* all_collection page */
    /* portfolio_section */
    .portfolio_item_wrap .woman {
        height: 15400px;
    }
    .portfolio_item_wrap .man {
        height: 13000px;
    }
    .portfolio_item_wrap .portfolio_item a img {
        width: 100%;
    }

    /* login page */
    /* login_section */
    #login_section #login_wrap {
        width: 100%;
    }

    /* contact page */
    #contact_section #contact_wrap {
        width: 300px;
        margin: 15px;
    }
}
@media screen and (min-width: 361px) and (max-width: 768px) {
    /* all_collection page */
    /* portfolio_section */
    .portfolio_item_wrap .woman {
        height: 7700px;
    }
    .portfolio_item_wrap .man {
        height: 6800px;
    }
    .portfolio_item_wrap .portfolio_item a img {
        width: 49.5%;
    }

    /* login page */
    /* login_section */
    #login_section #login_wrap {
        width: 100%;
    }

    /* contact page */
    #contact_section #contact_wrap {
        width: 350px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
/* all_collection page */
    /* portfolio_section */
    .portfolio_item_wrap .woman {
        height: 10600px;
    }
    .portfolio_item_wrap .man {
        height: 9350px;
    }
    .portfolio_item_wrap .portfolio_item a img {
        width: 49.5%;
    }

    /* login page */
    /* login_section */
    #login_section #login_wrap {
        width: 100%;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
/* all_collection page */
    /* portfolio_section */
    .portfolio_item_wrap .woman {
        height: 6200px;
    }
    .portfolio_item_wrap .man {
        height: 5200px;
    }
    .portfolio_item_wrap .portfolio_item a img {
        width: 33%;
    }

    /* login page */
    /* login_section */
    #login_section #login_wrap {
        width: 100%;
    }
}
@media screen and (min-width: 1281px) {

}